public/mix-manifest.json
public/build
public/res/css/main.css
public/res/css/vendor/all.css
public/res/js
public/res/fileUploads
resources/assets/css/vendor
resources/assets/js/vendor
public/GA.js
public/chordProg
public/simplePiano
public/downloads
public/perfectPitch
public/bandNameGenerator
/components
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
*.db
